@keyframes border-pulse {
  0% {
    border-color: #ff6ec4; // розово-фиолетовый
    box-shadow: 0 0 0 0 rgba(255, 110, 196, 0.5);
  }
  20% {
    border-color: #7873f5; // сине-фиолетовый
    box-shadow: 0 0 6px 2px rgba(120, 115, 245, 0.6);
  }
  40% {
    border-color: #57e2e5; // голубой
    box-shadow: 0 0 8px 3px rgba(87, 226, 229, 0.6);
  }
  60% {
    border-color: #45f58d; // мятно-зелёный
    box-shadow: 0 0 8px 3px rgba(69, 245, 141, 0.6);
  }
  80% {
    border-color: #fce043; // жёлтый
    box-shadow: 0 0 6px 2px rgba(252, 224, 67, 0.6);
  }
  100% {
    border-color: #ff6ec4; // возвращение к началу
    box-shadow: 0 0 0 0 rgba(255, 110, 196, 0.5);
  }
}

.pulse-border {
  animation: border-pulse 4s ease-in-out infinite;
}


.pulse,
//.header__link--user,
//.header__sublist li:nth-child(7),
//.forum-profile__topblock.profile-setting li:nth-child(6)
{
  border: 2px solid; // начальный цвет
  animation: border-pulse 2s ease-in-out infinite;
}

.resetAnimation {
  animation: none;
}